<h3><%= link_to('New Transaction', new_transaction_path) %></h3>

<table>
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Date</th>
    <th>User</th>
    <th>Account</th>
    <th>Status</th>
  </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= currency_symbol %><%= transaction.amount%></td>
      <td><%= transaction.category.title%></td>
      <td><%= transaction.transaction_date%></td>
      <td><%= transaction.user.first_name%></td>
      <td><%= transaction.account.name %></td>
      <td><%= transaction.state %></td>
    </tr>
  <% end %>
</table>